*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: blueviolet;
    height: 120px;
    color: white;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    
    display: flex;
    justify-content: space-around
}
.box{
    width: 300px;
    height: 140px;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box h1{
    display: inline;
   margin-bottom: 25px;
}
.box img{
    width: 30px;
}

box h2{
    margin-top: 20px
}
.insertbox{
 background-color: aliceblue;
 height: 120px;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 margin-top: 20px;
 margin-bottom: 20px;
 font-size: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
}
#form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#form input{
    margin-left: 10px;
}
#form input:focus{
    outline: none;
}
#form input[type=text]{
    width: 220px;
    height: 25px;
    border-radius: 5px;
    border-color: black;
}
#form input[type=number]{
    width: 180px;
    height: 25px;
    border-radius: 5px;
    border-color: black;
}
#form input[type=radio]{
    margin-right: 15px
}

.enviar{
    background-color: blueviolet;;
    color: white;
    width: 80px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}
.enviar:hover{
    background-color: rgb(162, 98, 221);
    cursor: pointer;
}
.titleGastos{
    background-color: blueviolet;
    color: white;
    width: 700px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
}
.contadorBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleGastos h2{
    font-size: 15px;
}
.titleGastos a{
    text-decoration: none;
    color: white;
}
.titleGastos a:hover{
    cursor: pointer;
    color: rgb(255, 128, 128);
}
.containerGastos{
   margin: auto;
}
.containerEntrada{
    background-color: rgba(0, 214, 0, 0.514);
    width: 700px;
    height: 50px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.521);
    margin-bottom: 2px;
}
.containerSaida{
    background-color: rgba(214, 50, 0, 0.514);
    width: 700px;
    height: 50px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.521);
    margin-bottom: 2px;
}
.remove:hover{
    color: brown;
    cursor: pointer;
    text-decoration: underline;
}

